<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>
      Tela de Monitoramento
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <img src="assets/img/map.png" style="display:block;width:20%;height:auto;margin-left:auto;margin-right:auto;" />
  <h1 ion-text color="primary" align="center">Olá, seja bem-vindo(a)!</h1>
  <p>Antes de iniciar, <b>certifique-se de que o GPS do seu celular esteja ativado</b></p>
  <p>Ao iniciar o monitoramento, pode ser que o aplicativo solicite permissão para utilizar o GPS</p>
  
  <p><b>É extremamente necessário que permita a sua utilização</b></p>

  <p>Para que a sua presença seja registrada, <b>durante o período de coleta</b>:</p>
  
  <p><b>- o dispositivo deve ter acesso à internet; e</b></p>
  <p><b>- o GPS deve estar ativado.</b></p>

  <p>Para iniciar o monitoramento, pressione o botão abaixo:</p>
  
  <div class="spacer" style="width:300px;height:10px;" id="telaPrincipal-spacer6"></div>
  <button ion-button block icon-left (click)="startBackgroundTracking(); showToggleFun()" *ngIf="showToggle" color="primary" style="border-radius:25px 25px 25px 25px;">
  	<ion-icon name="locate"></ion-icon>
    Iniciar monitoramento
  </button>
  <button ion-button block icon-left (click)="stopBackgroundTrackingAlert(); showToggleFun()" *ngIf="!showToggle" color="danger" style="border-radius:25px 25px 25px 25px;">
    <ion-icon name="hand"></ion-icon>
    Parar monitoramento
  </button>
</ion-content>